.session-errors {
  /* margin: 0 auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 50px;
  background-color: rgb(255, 226, 140);
  border-radius: 5px;
  font-size: 13px;
  position: absolute;
  padding: 10px;
  transform: translate(0, -100%);
  z-index: 5;
}

.transition-y {
  transition-duration: 600ms;
  transition-timing-function: ease;
  transform: translate(0%)
}

.transition-fade-out {
  opacity: 0;
}

.session-errors:hover {
  background-color: #F4D885;
}

.session-errors:hover, .x-btn {
 color: rgb(34, 37, 41)
}

.fixed-error-div {
  margin: 0 auto;
  /* border: 1px solid red; */
  position: relative;
  bottom: 40px;
  display: flex;
  width: 400px;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.x-btn {
  padding: 10px;
  cursor: pointer;
  color: rgba(34, 37, 41, 0.75);
}

.div-pointer {
  cursor: pointer;
}