.class-category-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.class-category-header {
  font-size: 17px;
    font-weight: 600;
    position: absolute;
    color: rgb(34, 37, 41);
    top: -24px;
    left: 45px;
}

.class-category-item {
  display: block;
    max-width: calc((100% - 20px) / 2);
    box-sizing: border-box;
    transform-style: preserve-3d;
    /* margin: 10px; */
    cursor: pointer;
    padding: 10px;
}

.class-category-list {
  display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    margin-top: 50px;
    /* max-width: 1576px; */
    max-width: 1576px;
    min-width: 500px;
}

.category-item-title {
  position: absolute;
  top: 65px;
  left: 35px;
  color: rgb(255, 255, 255);
  font-size: 26px;
  font-weight: 300;
}

.cc-item {
  position: relative;
  justify-content: center;
  display: flex;
  height: 22vh;
  width: 52vh;
  box-sizing: border-box;
  background-size: 100%;
  border-radius: 5px;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.class-category-item:hover .cc-item {
  transform: scale(1.03);
}

.cc-item-class {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 285px;
  width: 500px;
  box-sizing: border-box;
  background-size: 100%;
  flex-basis: calc((100% - 20px) / 2);
  border-radius: 5px;
  transition-duration: 250ms;
  transition-timing-function: ease;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.class-content-items {
  margin: 10px;
}

.class-content-items > h2 {
  color: rgb(255, 255, 255);
  font-weight: 300;
  padding: 2px;
}

.class-content-items h2:first-child{
  color: rgb(210, 213, 217);
  font-size: 12px;
}

.class-content-items h2:last-child {
  color: rgb(210, 213, 217);
  font-size: 12px;
}

.class-content-items h2:nth-child(3) {
  font-size: 12px;
  padding-bottom: 8px;
}

.category-list-cc-div{
  display: flex;
  justify-content: center;
}

.class-category-list-div {
  display: flex;
  justify-content: center;
}