.user-bio-div {
  max-width: 960px;
    /* min-width: 500px; */
    width: 80%;
    /* height: 80%; */
    border-radius: 5px;
    background: #F5F7F9;
    margin-top: 20px;
}

.user-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-overview header {
  width: 100%;
}

.user-bio-top, .user-following, .user-bio-bottom, .user-follows-div, .user-followers {
  display: flex;
}

.user-bio-top {
  justify-content: space-between;
  border-bottom: 1px solid rgba(168, 172, 177, 0.4);
  padding-bottom: 10px;
  padding-top: 10px;
  align-items: center;
}

.user-followers, .user-following {
  margin: 20px;
  cursor: pointer;
}

.user-following {
  margin-left: 10px;
}

.user-profile-username {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.03rem;
}

.prof-follows {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.2px;
  color: rgb(90, 100, 116);
}

.following-count, .followers-count {
  margin-right: 10px;
  font-size: 16px;
}

.total-workouts-div {
  max-width: 960px;
  /* min-width: 500px; */
  width: 80%;
  /* height: 80%; */
  border-radius: 5px;
  background: #F5F7F9;
  margin-top: 20px;
}

.prof-workouts-top {
  display: flex;
  justify-content: center;
  background: #F5F7F9;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.prof-workouts-top:hover {
  background: #F4F4F4
}

.total-workouts-count {
  display: flex;
}

.total-workouts-outmost-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workouts-count {
  margin-right: 5px;
}

.user-search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.user-bio-bottom {
  justify-content: space-between;
}

.user-search span {
  font-size: 14px;
  font-weight: 300;
  color: rgb(90, 100, 116);
}

.user-search-content {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.view-workouts-div {
  position: absolute;
  right: 11px;
}

.view-workouts-title {
  font-size: 13px;
  color: rgb(90, 100, 116);
}

.user-profile-img-div, .hidden-user-profile-div {
  width: 86px;
  height: 86px;
  margin: 15px 25px 15px 25px;
}

.user-profile-img-div {
  position: relative;
}

.user-prof-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
}

.hidden-user-profile-div {
  background-color: transparent;
}

