.user-bio-div {
  max-width: 960px;
    /* min-width: 500px; */
    width: 80%;
    /* height: 80%; */
    border-radius: 5px;
    background: #F5F7F9;
    margin-top: 20px;
}

.user-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-overview header {
  width: 100%;
}

.user-bio-top, .user-following, .user-bio-bottom, .user-follows-div, .user-followers {
  display: flex;
}

.user-bio-top {
  justify-content: center;
  border-bottom: 1px solid rgba(168, 172, 177, 0.4);
  padding-bottom: 20px;
}

.user-followers, .user-following {
  margin: 20px;
}

.user-following {
  margin-left: 10px;
}

.user-profile-username {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.03rem;
}

.prof-follows {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: rgb(90, 100, 116);
}

.following-count {
  margin-right: 10px;
  font-size: 16px;
}