.carousel {
  margin: 0 auto;
  width: 900px;
  max-width: 100%;
  text-align: center;
}

.slides {
  padding: 0 15px 0 15px;
  position: relative;
  z-index: 1;
}

.slide-overflow {
  width: 100%;
  overflow: unset;
}

.slide-inner {
  width: 400%;
  height: 400px;
  transition: margin-left 700ms ease-in-out;
  margin-left: -100%;
}

.slides .slide {
  width: 25%;
  float: left;
  display: flex;
  justify-content: center;
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  z-index: 3;
  position: absolute;
}

.carrot-left-svg {
  transform: rotate(90deg);
}

.carrot-left-svg,
.carrot-right-svg {
  width: 40px;
  height: auto;
  fill: rgba(90, 100, 116, 0.5);
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.carrot-left-svg:hover,
.carrot-right-svg:hover {
  fill: rgba(90, 100, 116, 1);
  width: 50px;
  height: auto;
}

.slide-margin-right {
  margin: 100%;
}

.carousel-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.slide-0 {
  background-image: url("https://res.cloudinary.com/peloton-cycle/image/fetch/c_scale,dpr_1.0,f_auto,q_auto,w_560/https://s3.amazonaws.com/challenges-and-tiers-image-prod/cac9a9d1ae444385b4b40f7d1f703088");
}

.slide-1 {
  background-image: url("https://res.cloudinary.com/peloton-cycle/image/fetch/c_scale,dpr_1.0,f_auto,q_auto,w_560/https://s3.amazonaws.com/challenges-and-tiers-image-prod/e6ef57a826b64f5f8eef8e49bdd8abfb");
}

.slide-2 {
  background-image: url("https://res.cloudinary.com/peloton-cycle/image/fetch/c_scale,dpr_1.0,f_auto,q_auto,w_560/https://s3.amazonaws.com/challenges-and-tiers-image-prod/e466c2d4630042718333b7cd8086ea49");
}

.slide-content {
  width: 58vh;
  height: 68vh;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-around;
}

.challenge-submit-btn {
  background-color: rgb(255, 255, 255);
  color: rgb(90, 100, 116);
  width: 240px;
  height: 45px;
  font-size: 16px;
  letter-spacing: 0.06em;
}

.challenge-submit-btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(90, 100, 116);
}

.challenge-img {
  margin-bottom: 20px;
}

.challenge-days-left {
  display: inline-block;
  padding: 8px 14px 8px 14px;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.06em;
}

.challenge-name {
  margin: 25px;
  font-size: 32px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  letter-spacing: 0.01em;
}

.challenge-descr {
  font-size: 16px;
  color: rgb(255, 255, 255);
  letter-spacing: 0.02em;
  font-weight: 300;
}

.slide-control-left,
.slide-control-right {
  margin: 0 30px 0 30px;
}

.slide-left {
  position: relative;
}

.controls-left, .controls-right {
  position: relative;
}

.test-div {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.test-gradient-left {
  width: 25%;
  height: 75vh;
  background: linear-gradient(90deg, rgba(228,231,235,1) 0%, rgba(252,253,253,0) 100%);
  z-index: 3;
}

.test-gradient-right {
  width: 25%;
  height: 75vh;
  z-index: 2;
  background: linear-gradient(90deg, rgba(252,253,253,0) 0%, rgba(228,231,235,1) 100%);
}