.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid red; */
  padding: 5px;
  flex: 1;
}

.form > h3 {
  margin: 0 auto;
  color: rgb(255, 255, 255);
  padding: 20px;
}

.form-input {
  width: 360px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  height: 55px;
  background-color: rgb(74, 74, 74);
  margin: 10px; 
  border-radius: 5px;
}

.form-input > label {
  font-size: 11px;
  color: white;
}

.form-input > input {
  padding: 5px;
  width: 360px;
  height: 20px;
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.submit-btn {
  background-color: rgb(255, 51, 71);
  color: rgb(255, 255, 255);
  width: 285px;
  height: 50px;
  border-radius: 50px;
  cursor: pointer;
  margin: 10px;
}

.form > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

._link-to {
  display: flex;
  justify-content: center;
  /* border: 1px solid red; */
  color: rgb(168, 172, 177);
}

._link-to > a {
  color: rgb(255, 255, 255);
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.session-background {
  height: 100%;
  background-color: rgb(34, 37, 41);
  min-height: 100vh;
}

._link-to > a:hover {
  color: rgb(255, 51, 71)
}

